.navigationHolder{
	background-color:#6F8CC8;
    height:20px;
    font-size: 18px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 20px;
}

.alignLeft{
    float: left;
    color: black;
}

.alignRight{
    float: right;
    color: black;

}

.alignLeft a{
    text-decoration: none;
    color: black;
}

.alignLeft a:hover{
    text-decoration: none;
    color: white;
}

body {
    font-family: Helvetica;
    font-size: 17px;
    width: 100%;
}

.noteValue{
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}


.content{
	padding-top: 10px;
}

#content h1{
    padding-left: 10px;
    font-size: 27px;
    color: #002A67;
}

#content h2{
    font-size: 25px;
    padding-left: 10px;
}

#content img{
    padding-left: 40px;
    padding-bottom: 30px;
}

#content p{
    font-size: 14px;
    padding-left: 10px;
    padding-bottom: 20px;
}

#downloadHw{
    padding-left: 20px;
}

.footerholder {
    bottom: 0;
    position: fixed;
    text-align: center;
    width: 100%;
    padding-bottom: 10px;
}


.footer {
}

.footer1 {
    text-align: center;
}