@media only screen and (max-device-width: 900px) and (orientation: landscape){

img.ri{
    max-width: 90%;
}

body {
    font-family: Helvetica;
    font-size: 17px;
    width: 100%;
    background-color: #fff;
}

#navi{
    padding-right: 20px;
}


#alignRight{
    float: right;
    color: black;
    padding-right: 20px;
}

#alignLeft ul{
    list-style: none;
    margin: 10px;
    padding: 0;
}

#alignLeft ul li a{
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#999));
    border: 1px solid #999999;
    color: #222222;
    display: block;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: -1px;
    padding: 12px 10px;
    text-decoration: none;
   }

#alignLeft a:hover{
    text-decoration: none;
    color: white;
}

#alignLeft ul li:first-child a{
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
}

#alignLeft ul li:last-child a{
    -webkit-border-bottom-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
}



label {
        float: left;
        text-align: left;
        margin-right: 15px;
        width: 100px;
        margin-top: 1em;
        margin-left: 1em;
    }

    input{
        margin-top: 1em;
        width: 250px;
        height: 25px;
        font: 1em sans-serif;
    }

    textarea {
        margin-top: 1em;
        width: 250px;
        height: 150px;
        font: 1em sans-serif;
    }

    input:focus, textarea:focus {
        /* To give a little highlight on active elements */
        border-color: #000;
        background-color: #BFD4FF;
        font-size: 17px;
    }

.submitBtn{
    padding-left: 10px;
    padding-top: 20px;
}

.submitBtn button{
    padding-left: 10px;
    font-family: Helvetica;
    font-size: 17px;
}
}

