@media only screen and (max-device-width: 600px){

body {
    font-family: Helvetica;
    font-size: 17px;
    width: 100%;
    background-color: #fff;
}

#navi{
    padding-right: 20px;

}


#alignRight{
    float: right;
    color: black;
    padding-right: 20px;
}

#alignLeft ul{
    
    list-style: none;
    margin: 10px;
    padding: 0;
}

#alignLeft ul li a{
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#999));

    border: 1px solid #999999;
    color: #222222;
    display: block;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: -1px;
    padding: 12px 10px;
    text-decoration: none;
   }

#alignLeft a:hover{
    text-decoration: none;
    color: white;
}

#alignLeft ul li:first-child a{
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
}

#alignLeft ul li:last-child a{
    -webkit-border-bottom-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
}


}